
<div class="container">
  <div class="latte">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar"/>
    <div class="latte-content">
      <p>Juliette</p>
      <span class="small">Départ : 22h30</span>
    </div>

    <div class="latte-info">
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <i class="category fas fa-cocktail"></i>

    </div>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 60vh;
   zoom: 2;
   center: [trip.start_long, trip.start_lat];"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>









