
<div class="container">
  <div class="latte">
    <img src='https://ca.slack-edge.com/T02NE0241-UF7QRS1M1-c46c82878af4-72' class="avatar"/>

    <div class="latte-info">
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <i class="category fas fa-cocktail"></i>

    </div>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 60vh;
   zoom: 2;
   center: [trip.start_address.longitude, trip.start_address.latitude];"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>









