
<div class="container">
  <div class="latte">
    <img src='https://ca.slack-edge.com/T02NE0241-UF7QRS1M1-c46c82878af4-72' class="avatar"/>

    <div class="latte-info">
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <i class="category fas fa-cocktail"></i>

    </div>
  </div>
  <div  id="map";
  data-start_address="<%= @start_address.to_json %>";
  data-end_address="<%= @end_address.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


