
<div class="container">
  <div class="latte">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar"/>
    <div class="latte-content">
      <p>Juliette</p>
      <span class="small">Départ : 22h30</span>
    </div>

    <div class="latte-info">
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <i class="category fas fa-cocktail"></i>

    </div>
  </div>
</div>





