// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #fad475;
$orange: #f74b1d;
$green: #32B796;
$gray: #8898aa;
$light-gray: #F4F4F4;
$purple: #3a1898;
$blue-facebook:#3e69c1;
