body {
  height: 100vh;
  background: linear-gradient(150deg, #3a1898 15%, #9f2bea 94%);
}

a {
  text-decoration: none;
  color:white!important;
  border-bottom: 1px solid white;
}

h1, h2, h3, h4, h5, h6, p {
  color:white;
}

