<p>Hi <%= @user_trip_creator.name %>,</p>

<p> <%= @current_user.name  %> veut rejoindre votre groupe</p>

<p>Cliquez sur le lien ci dessous pour un video chat</p>

<a href="http://localhost:3000<%= @video_url %>">Cliquez Ici</a>

