  <div class="viens-copine">
    <div class="banner">
      <div class="banner-inner">
        <h1>404</h1>
        <p>La page que vous tentez d'afficher n'existe pas ou n'existe plus</p>

          <div class="d-flex or-container">
            <div class="half-border"></div>

            <div class="half-border"></div>
          </div>


      </div>
    </div>
  </div>


