<div class="rails-default-error-page">
  <div class="dialog">
    <div>
      <i class="fas fa-exclamation-triangle"></i>
      <p class="big">Oops...</p>
      <h1>Nous sommes désolées, mais pour trouver une copine pour vous accompagner sur votre trajet retour, vous devez vous connecter.</h1>
    </div>
    <a href="/" class="btn btn-sign">Retour Accueil</a>
  </div>
</div>
