  <div class="viens-copine">
    <div class="banner">
      <div class="banner-inner">
        <h1>Viens copine</h1>
        <p>Rentre chez toi en sécurité</p>
        <% if current_user %>

        <%= current_user[:name] %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>

        <% else %>

          <%= link_to user_facebook_omniauth_authorize_path, class: "btn-facebook d-flex" do %>
          <i class='fab fa-facebook-f' style='font-size:24px; margin-right:0.5em;'></i>
          <p>Sign in with Facebook</p>
          <% end %>
          <div class="d-flex or-container">
            <div class="half-border"></div>
            <p>or</p>
            <div class="half-border"></div>
          </div>

          <%= link_to t(".sign_in", default: "Login  email"), new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>


