  <div id="viens-copine">
    <div class="banner">
      <div class="banner-inner">
        <h1>Viens copine</h1>
        <p>Rentre chez toi en sécurité</p>
        <button class="btn btn-primary">S'inscrire</button>
      </div>
    </div>
  </div>

