.avatar {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-small {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-big {
  height: 75px;
  width: 75px;
  object-fit: cover;
  border-radius: 50%;
}
