.btn-orange {
  color: white;
  background: linear-gradient(-90deg,$yellow 5%,$orange 100%);
  padding: 1em 2em;
  border-radius: 5px;
  font-weight: bold;
}

.btn-facebook {
  color: white;
  background-color:$blue-facebook;
  padding: .5em 1em;
  font-weight: bold;
  border:none;
  border-radius: 5px;

    p {
      margin: 0;
    }
}

.btn-radio {
  border-radius: 10px;
  border: 1px solid;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
  background-color: $light-gray;
}

.btn-radio-check {
    // .btn-checkbox-check:checked,
    // &:hover
  border: 2px solid $purple;
  color: $purple;
  padding: 0px;
  border-radius: 10px;
}

.btn-valid {
    color: white;
    background: $orange;
    padding: 0.5em 1em;
    border-radius:10px;
    font-weight: bold;
    border: 0;
}


.btn-secondary {
  border-radius: 10px;
}
.btn-sign {
    color: white;
    // background: $orange;
    padding: 0.5em 1em;
    border-radius:10px;
    font-weight: bold;
    border: 1px solid white;
    width: 100%;
    margin-bottom:10px;


  }


.btn-toolbar {
  margin-bottom: 15px;
  justify-content: space-between;
}



