.btn-orange{
  color: white;
  background: #FBA519;
  padding: 1em 2em;
  border-radius: 5px;
  font-weight: bold;
}

.btn-facebook{
  color: white;
  background-color:$blue-facebook;
  padding: 1em 2em;
  font-weight: bold;
  border:none;
  p{
    margin: 0;
  }
}

.border-red {
  border: 5px solid red;
}

.my-label {
  background: $gray;
  font-size: 14px;
}
