.form-container {
  background-color: white;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 5px;
  min-width: 90vw;

    h2 {
      color: $purple;
      font-size: 24px;
    }
    a {
      color:$purple!important;
      font-size:16px;
      margin-top:5px;
    }
    label, p {
      color: $purple;
      font-weight: bold;
      font-size: 14px;
    }

    input[type="submit"] {
      padding:0em;
      color: white;
      background: $orange;
      padding: 0.5em 1em;
      border-radius: 5px;
      font-weight: bold;
      border:0;
    }

    .trip {
    display: flex;
    justify-content: space-around;
    }

    .my-label {
      flex-grow: 1;
    }
}

.form-shared-links{
  width: 100%;
  border-top: 1px solid $purple;
  padding: 0.5em 0em;
  margin-top: 1em;
}

.form-title{
  width: 100%;
  border-bottom: 1px solid $purple;
  padding: 0.5em 0em;
  margin-bottom: 1em;
}


