<div class="wrapper-style">
  <div class="container container-style">
    <div class="form-style">
     <%= simple_form_for [@booking, @review], url: booking_reviews_path(@booking.id)  do |f| %>
     <%= f.input :content %>
     <%= f.input :rating %>
     <%= f.button :submit , class: 'btn btn-green' %>
     <% end %>
   </div>
 </div>
</div>
